<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Дали се работи за тест или не.
        Ако е тест тогаш мерењата се симулираат, 
        инаку мерењата ги користат Fluke инструментите и PLC-то.-->
    <add key="IS_TEST" value="True"/>
    <!--Број на COM портата на која е врзано PLC-то-->
    <add key="PLC_PORT_NUMBER" value="8"/>
    <!--IP адреса на инструментот кој мери напон-->
    <add key="IP_ADDRESS_VOLTAGE" value="192.168.1.2"/>
    <!--IP адреса на инструментот кој мери струја-->
    <add key="IP_ADDRESS_CURRENT" value="192.168.1.1"/>
    <!--Порта на инструментот кој мери напон-->
    <add key="PORT_VOLTAGE" value="3490"/>
    <!--Порта на инструментот кој мери струја-->
    <add key="PORT_CURRENT" value="3490"/>
    
    <add key="RessistanceCalibrationFile" value="Ref\RessistanceCalibration.xml"/>
    <add key="TemperatureCalibrationFile" value="Ref\TemperatureCalibration.xml"/>
    <add key="CURRENT_ODNOS" value="33,333333"/>
  </appSettings>
</configuration>