<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Дали се работи за тест или не.
        Ако е тест тогаш мерењата се симулираат, 
        инаку мерењата ги користат Fluke инструментите и PLC-то.-->
    <add key="IS_TEST" value="True"/>
    <!--Број на COM портата на која е врзано PLC-то-->
    <add key="PLC_PORT_NUMBER" value="8"/>
    <!--IP адреса на инструментот кој мери напон-->
    <add key="IP_ADDRESS_VOLTAGE" value="192.168.1.2"/>
    <!--IP адреса на инструментот кој мери струја-->
    <add key="IP_ADDRESS_CURRENT" value="192.168.1.1"/>
    <!--Порта на инструментот кој мери напон-->
    <add key="PORT_VOLTAGE" value="3490"/>
    <!--Порта на инструментот кој мери струја-->
    <add key="PORT_CURRENT" value="3490"/>
    <!--Врености за температурните калибрирања-->
    <add key="TemperatureCalibrationFile" value="Ref\TemperatureCalibration.xml"/>
    <!--Вредности за калибрирање на системот од корисникот-->
    <add key="RessistanceCalibrationFile" value="Ref\RessistanceCalibration.xml"/>
    <!--Вредности за основно калибрирање на системот-->
    <add key="RessistanceBaseCalibrationFile" value="Ref\RessistanceBaseCalibration.xml"/>
    <!--Однос на 1-виот шант 10A / 300mV -->
    <add key="CURRENT_ODNOS1" value="33,3333333333"/>
    <!--Однос на 2-риот шант 25A / 60mV-->
    <add key="CURRENT_ODNOS2" value="416,66667"/>
    <!--Струја над која се мери со друг шант-->
    <add key="LIMIT_CURRENT1" value="10"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
